name: Penguin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: alpine-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21"
    - run: go mod tidy
    - run: go build ./...
    - run: go test ./...
